
ChromeController>=0.3.5
beautifulsoup4>=4.6.0
cchardet>=2.1.1
lxml>=4.1.1

# FFFuuuuu cloudflare
cloudscraper 
js2py

# Sadface. So we need a socks client library, and a socks host 
# library, and they're different.
PySocks>=1.6.8

upnpclient==0.0.8
python_anticaptcha==0.3.1

# Socks server (and crypto accelerator)
pproxy==1.5.2    # Yes, we need to pin this exact version.
pycryptodome